body{
    height: 98vh;
    background: linear-gradient(115deg,aqua 10%,purple 90%);
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
input{
    text-align: center;
    padding: 15px 40px 15px 40px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 50px;
    
}
div{
    text-align: center;
}
button{
    padding: 15px 70px 15px 70px;
    font-size: 20px;
    color:white;
    background: linear-gradient(115deg,aqua 10%,purple 90%);
    border:white;
    border-radius: 500px;
}
